################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user

*.suo

/Resort.Restaurant.Business/bin/Debug
/Resort.Restaurant.Constraints/bin/Debug
/Resort.Restaurant.Constraints/obj/Debug
/Resort.Restaurant.Business/obj/Debug
/Resort.Restaurant.DataAccess/obj/Debug
/Resort.Restaurant.DataAccess/bin/Debug
/Resort.Restaurant.Interface/bin/Debug
/Resort.Restaurant.Interface/obj/Debug
/Resort.Restaurant.Service/bin/Debug
/Resort.Restaurant.Service/obj/Debug
/Resort.Restaurant.Unit/bin/Debug
/Resort.Restaurant.Unit/obj/Debug
/Resort.Restaurant.VOModels/bin/Debug
/Resort.Restaurant.VOModels/obj/Debug
/Resort.Restaurant.Console/obj/Debug
/Resort.Restaurant.Console/bin/Debug
/packages/structuremap.4.1.1.372
/Resort.Container/obj/Debug
/Resort.Restaurant.Bootstrapper/obj/Debug
/packages
/Resort.Container/bin/Debug
/Resort.Restaurant.Bootstrapper/bin/Debug
/Resort.Restaurant.ConsoleApp/bin/Debug
/Resort.Restaurant.ConsoleApp/obj/Debug
/Resort.Utils/obj/Debug
